{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/gallery_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.min.css' %}">
    <script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
</head>
<body>
    <div class="gallery">
        <a href="{% static 'gallery/i1.jpg' %}" data-lightbox="mygallery" data-title="Picture of a man on those weired fucking stairs"><img src="{% static 'gallery/i1s.jpg' %}"></a>
        <a href="{% static 'gallery/i1.jpg' %}" data-lightbox="mygallery" data-title="Picture of a man on those weired fucking stairs"><img src="{% static 'gallery/i1s.jpg' %}"></a>
        <a href="{% static 'gallery/i1.jpg' %}" data-lightbox="mygallery" data-title="Picture of a man on those weired fucking stairs"><img src="{% static 'gallery/i1s.jpg' %}"></a>
        <a href="{% static 'gallery/i1.jpg' %}" data-lightbox="mygallery" data-title="Picture of a man on those weired fucking stairs"><img src="{% static 'gallery/i1s.jpg' %}"></a>
        <a href="{% static 'gallery/i1.jpg' %}" data-lightbox="mygallery" data-title="Picture of a man on those weired fucking stairs"><img src="{% static 'gallery/i1s.jpg' %}"></a>
        <a href="{% static 'gallery/i1.jpg' %}" data-lightbox="mygallery" data-title="Picture of a man on those weired fucking stairs"><img src="{% static 'gallery/i1s.jpg' %}"></a>
        <a href="{% static 'gallery/i1.jpg' %}" data-lightbox="mygallery" data-title="Picture of a man on those weired fucking stairs"><img src="{% static 'gallery/i1s.jpg' %}"></a>
        <a href="{% static 'gallery/i1.jpg' %}" data-lightbox="mygallery" data-title="Picture of a man on those weired fucking stairs"><img src="{% static 'gallery/i1s.jpg' %}"></a>
        <a href="{% static 'gallery/i1.jpg' %}" data-lightbox="mygallery" data-title="Picture of a man on those weired fucking stairs"><img src="{% static 'gallery/i1s.jpg' %}"></a>
        <a href="{% static 'gallery/i1.jpg' %}" data-lightbox="mygallery" data-title="Picture of a man on those weired fucking stairs"><img src="{% static 'gallery/i1s.jpg' %}"></a>
        <a href="{% static 'gallery/i1.jpg' %}" data-lightbox="mygallery" data-title="Picture of a man on those weired fucking stairs"><img src="{% static 'gallery/i1s.jpg' %}"></a>
        <a href="{% static 'gallery/i1.jpg' %}" data-lightbox="mygallery" data-title="Picture of a man on those weired fucking stairs"><img src="{% static 'gallery/i1s.jpg' %}"></a>
        <a href="{% static 'gallery/i1.jpg' %}" data-lightbox="mygallery" data-title="Picture of a man on those weired fucking stairs"><img src="{% static 'gallery/i1s.jpg' %}"></a>


    </div>
</body>
</html>