{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylea.css' %}">
    <script src="https://kit.fontawesome.com/2952f9b7cd.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="home_page.html"><img src="{% static 'css/treelogotrue.jpg' %}" class="treelogo_home"> </a>
            <div class="search-box">
                <input class="search-txt" type="text" name="" placeholder="Type to search">
                <a class="search-btn" href="#">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="">EDIT YOUR PROFILE</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">LOGOUT</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container2">
        <div class="tree">
            <ul>
                <li><a href="#"><img src="{% static 'css/me.jpg' %}" alt=""><span>God's Child</span></a>
                    <ul>
                        <li><a href="#"><img src="{% static 'css/me.jpg' %}" alt=""><span>God's Grand Child</span></a>
                            <ul>
                                <li><a href="#"><img src="{% static 'css/me.jpg' %}" alt=""><span>God's Great Grand Child</span></a></li>
                                <li><a href="#"><img src="{% static 'css/me.jpg' %}" alt=""><span>God's Great Grand Child</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#"><img src="{% static 'css/me.jpg' %}" alt=""><span>God's Grand Child</span></a>
                            <ul>
                                <li><a href="#"><img src="{% static 'css/me.jpg' %}" alt=""><span>God's Great Grand Child</span></a></li>
                                <li><a href="#"><img src="{% static 'css/me.jpg' %}" alt=""><span>God's Great Grand Child</span></a></li>
                                <li><a href="#"><img src="{% static 'css/me.jpg' %}" alt=""><span>God's Great Grand Child</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#"><img src="{% static 'css/me.jpg' %}" alt=""><span>God's Grand Child</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>